.navbar-width{ width:100% }
.box{ margin-top:20px; }
.navbar-search{ margin-top:7px; }
.navbar-glyphicon{ margin-top:5px; }
.navbar-option{ margin-top:10px }

.dropdown1{ margin-bottom:45px; }

.image{ margin-left:5px; }
.glyphicon1{ margin-left:20px; }

.search-box{ margin-right:5px; }

.font-size-sm{ font-size:15px; }
.font-size-lg{ font-size:25px; }
.font-size-md{ font-size:20px; }

.text-color{ color:blue !important }

.spec_table td {
    border-top: none !important;
}

.bgColor{ background-color: }

.blue{ color: #3b5998 }
.twitter {color: #00b3ee}
.red{ color: red }

/*.edit-topic {*/
    /*cursor: pointer;*/
/*}*/

/*.edit-topic-container {*/
    /*display: none;*/
/*}*/